/* Entries */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */
#urlbar,
#searchbar,
#search-box,
.findbar-textbox {
	-moz-appearance: none !important;
	background: var(--cortland-entry-background) !important;
	border: 1px solid var(--cortland-entry-border-color) !important;
	border-radius: 10px !important;
	box-shadow: var(--cortland-entry-box-shadow) !important;
	color: var(--cortland-entry-color) !important;
	height: 30px !important;
	max-height: 30px !important;
	margin: 0 !important;
	padding: 4px 8px !important;
	box-sizing: border-box;
}

/* Entries focused */
#urlbar[breakout][breakout-extend],
#searchbar:focus-within,
#search-box[focused], 
.findbar-textbox[focused],
.findbar-textbox:focus {
	border: 1px solid var(--cortland-focused-urlbar-border-color) !important;
	outline: 2px solid var(--cortland-focused-urlbar-border-color) !important;
	-moz-outline-radius: 10px;
}

/* Inactive window entries */
#urlbar:-moz-window-inactive,
#searchbar:-moz-window-inactive,
#search-box:-moz-window-inactive,
.findbar-textbox:-moz-window-inactive {
	background: var(--cortland-inactive-entry-background) !important;
	border-color: var(--cortland-inactive-entry-border-color) !important;
	box-shadow: var(--cortland-inactive-entry-box-shadow) !important;
	color: var(--cortland-inactive-entry-color) !important;
}

/* Entries combined */
.findbar-textbox:not(.minimal) {
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-right-width: 0 !important;
}
.findbar-textbox:not(.minimal)[focused], .findbar-textbox:not(.minimal):focus {
	-moz-outline-radius: 10px 0 0 10px !important;
}

/* Entries fixes */
#urlbar-container, #search-container {
	padding: 0 !important;
	margin: 0 3px !important;
}
#urlbar, #searchbar {
	margin: 0 3px !important;
	padding: 0 !important;
}
.searchbar-textbox {
	border: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	min-height: auto !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
	margin: 0 !important;
}

#urlbar-search-mode-indicator{
margin-top: 4px !important;
margin-bottom: 4px !important;
margin-right: 8px !important;
border-radius: 10px !important;
outline:none !important;
}
