/* Replace icons */

@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Close buttons */
.close-icon:not(.tab-close-button),
.identity-popup-permission-remove-button .button-icon {
	list-style-image: url("../icons/window-close-symbolic.svg") !important;
}

:root{
	--cortland-toolbar-icon-color: var(--cortland-toolbar-color) !important;
}
:root[privatebrowsingmode="temporary"]{
	--cortland-toolbar-icon-color: var(--cortland-toolbar-color-private) !important;
}

.toolbarbutton-icon {
	fill: var(--cortland-toolbar-icon-color);
}

toolbarbutton[open="true"] .toolbarbutton-icon {
	fill: var(--cortland-selected-color) !important;
}

/* Window buttons */
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-close .toolbarbutton-icon {
	list-style-image: url("../icons/close-active.png");
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon {
	list-style-image: url("../icons/maximize-active.png") !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
	list-style-image: url("../icons/hide-active.png") !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close:-moz-window-inactive .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-close .toolbarbutton-icon {
	list-style-image: url("../icons/window_button_unfocused.png");
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max:-moz-window-inactive .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-max .toolbarbutton-icon {
	list-style-image: url("../icons/window_button_unfocused.png") !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min:-moz-window-inactive .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
	list-style-image: url("../icons/window_button_unfocused.png") !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore:-moz-window-inactive .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-min .toolbarbutton-icon {
	list-style-image: url("../icons/window_button_unfocused.png") !important;
}

#new-tab-button{
	list-style-image: url(chrome://global/skin/icons/add.svg) !important;
	list-style-image: url(chrome://global/skin/icons/plus.svg) !important;
}

:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore .toolbarbutton-icon,
:root[tabsintitlebar] #titlebar #titlebar-restore .toolbarbutton-icon,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max .toolbarbutton-icon,
:root[tabsintitlebar][sizemode="maximized"] #titlebar #titlebar-max .toolbarbutton-icon {
	list-style-image: url("../icons/unmaximize-active.png") !important;
}

:root[tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	list-style-image: url("../icons/fullscreen-exit.svg") !important;
}

:root[privatebrowsingmode="temporary"][tabsintitlebar][inFullscreen] #window-controls #restore-button .toolbarbutton-icon {
	list-style-image: url("../icons/fullscreen-exit-active.svg") !important;
}

:root[tabsintitlebar][inFullscreen] #window-controls {
	padding: 4px 0px !important;
	padding-right: 3px !important;
	margin: 0px !important
}

:root[tabsintitlebar][inFullscreen] #nav-bar {
	padding-right: 43px !important;

}

:root[tabsintitlebar][inFullscreen] #window-controls #restore-button {
	background: transparent !important;
	border-radius: 10px !important;
	padding: 0 4px !important;
	max-height: 30px !important;
	min-height: 30px !important;
	min-width: 30px !important;
	color: var(--cortland-toolbar-color) !important;
	font: menu !important;
}
